<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}/public.css"/>
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}/zc.css"/>
		<script src="{JS_PATH}/jquery.min.js"></script>
		<script src="{JS_PATH}/dl.js"></script>
	</head>
	<body>
<div class="zmr_bg">
	<div class="zmr_bgbox zmr_bgxuan"><img src="{IMG_PATH}/001.jpg" alt="" /></div>
	<div class="zmr_bgbox"><img src="{IMG_PATH}/002.jpg" alt="" /></div>
	<div class="zmr_bgbox"><img src="{IMG_PATH}/003.jpg" alt="" /></div>
	<div class="zmr_bgbox"><img src="{IMG_PATH}/004.jpg" alt="" /></div>
	<div class="zmr_bgbox"><img src="{IMG_PATH}/005.jpg" alt="" /></div>
	<div class="zmr_bgbox"><img src="{IMG_PATH}/006.jpg" alt="" /></div>
	<div class="zmr_bgbox"><img src="{IMG_PATH}/007.jpg" alt="" /></div>
	<div class="zmr_bgbox"><img src="{IMG_PATH}/008.jpg" alt="" /></div>
<div class="login-box">
	<h1>欢迎您的登录</h1>
	<form action="index.php?a=denglu" method="post">
		<div class="name">
			<label>账号：</label>
			<input type="text" name="name" id="" tabindex="1" autocomplete="off" /><br />
			<span>请输入您的账号</span>
		</div>
		<div class="password">
			<label>密码：</label>
			<input type="password" name="password" maxlength="16" id="" tabindex="2"/><br />
			<span>请输入您的密码</span>
		</div>
		<div class="login">
			<input type="submit" tabindex="5" value="登录"><a class="tiaozhuan" href="{$url2}">我没有账号</a>
		</div>
	</form>
</div>
</div>		
	</body>
</html>
