<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}/public.css"/>
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}/index.css"/>
		<script src="{JS_PATH}/jquery.min.js"></script>
		<script src="{JS_PATH}/index.js"></script>
	</head>
	<body>
<!--头部开始-->
<div class="zmr_nav">
	<div class="zmr_navbox">
		<div class="zmr_nav_l">
			
			<div class="zmr_nav_l_z">M<span>r.</span>Z</div>
			<div class="zmr_nav_l_q"></div>
			<div class="zmr_nav_touxiang"></div>
		</div>
		<div class="zmr_nav_r">
			<ul class="tui {$flag1}">
				<li>欢迎<span>{$name}</span>,您的操作<a href="{$url3}">退出</a>/<a href="{$url4}">查看密码</a></li>
			</ul>
			<ul class="deng {$flag2}">
				<li><a href="{$url1}">登录</a></li>
				<li><a href="{$url2}">注册</a></li>
			</ul>
		</div>		
	</div>
</div>
<!--头部结束-->
<div class="zmr_floorbox">
	<div class="zmr_floor">
		<div class="zmr_text zmr_welcome"><span>Welcome to here</span></div>
		<div class="zmr_text zmr_this box1"><span>This is my graduction project</span></div>
		<div class="zmr_text zmr_hope"><span>Web端一次性口令身份认证系统</span></div>
	</div>		
</div>	
	</body>
</html>
